@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="d-flex justify-content-center">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Prism Desktop</h5>
            <p class="card-text">Prism Desktop installation is powered by Azure DevOps and ClickOnce.</p>
            <a href="/client/PrismClient.application" class="btn btn-primary">Download</a>
        </div>
    </div>
</div>
